.nav-bar {
    margin: 1rem 1rem;
    padding: 1rem 0;
    display: flex;
    justify-content: space-evenly;
    height: 50px;
    border-bottom: 1px #999 solid;
    font-size: 1.5rem;
}

.nav-bar a {
    color: #111;
    margin: 0.5rem;
}

/* .react-icon {
    size: 3em;
} */
.icons {
    display: flex;
    font-size: 2rem;
}
.search-input {
    width: 15rem;
}

.search-input input {
    background-color: #ccc;
    border: none;
    height: 2rem;
    width: 100%;
    text-align: center;
}